@font-face {
    font-family: "Open Sans";
    src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}
@font-face {
    font-family: "Neucha";
    src: url(./fonts/Neucha/Neucha-Regular.ttf);
}

:root {
    --white: #fff;
    --transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --transparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    width: 100vw;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}

header {
    position: relative;
}

header::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;

    content: "";
}

.col-2 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 30px
}

.col-2 > * {
    width: 50%;
}

h1,
h2,
h3 {
    line-height: 1.2em;
    margin: 0;
    font-family: "Neucha";
    font-weight: 400;
}

h1 {
    position: relative;
    z-index: 1;
    font-size: 72px;
}

h2 {
    font-size: 60px;
    text-align: center;
}

h3 {
    font-size: 34px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    margin-top: 30px;
}
.header-img {
    position: absolute;
    z-index: 0;
    top: 55px;
    left: 296px;
    height: 525px;
}
.video {
    position: relative;
    z-index: 10;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.video-title {
    margin: 30px 0;
}
.video-section {
    height: 800px;
}
.section {
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
}
.video-section .section {
    align-items: center;
}
.max-width-1110px {
    max-width: 1110px;
}
.min-height-914px {
    min-height: 714px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bg-main {
    background-color: var(--main);
}

.color-white {
    color: var(--white);
}

.color-main {
    color: var(--main);
}

.color-dark {
    color: var(--dark)
}

.bg-main-dark {
    background-color: var(--main-dark);
}

.weight-700 {
    font-weight: 700;
}
a.card {
    padding: 24px;
    text-decoration: none;
    color: inherit;
}
.card {
    display: block;
    width: 350px;
}
.number {
    margin: 0 0 40px;
    font-size: 64px;
    font-family: "Neucha";
    line-height: 1;
}

.bg-white {
    background-color: var(--white);
}

.navigation-section {
    padding: 200px 0 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 691px;
    gap: 20px;

}
h2.card {
    font-size: 52px;
    text-align: left;
}
.navigation-section > * {
    box-sizing: border-box;
}